html {
  background-color: #fff;
}

strong {
  font-weight: 600;
}

#footer {
  display: none;
  border: none;
}

#global-header {
  background-color: #fff;
  .header-wrapper {
    background-color: #fff;
  }
  #logo {
    background-image: url('../images/logo.svg');
    background-size: 100%;
    width: 100px;
    height: 2em;
    text-indent: -9999px;
    img {
      display: none;
    }
  }
}

.email {
  header#global-header {
    background-image: url('../images/google_header.png');
    background-size: 100%;
    width: 100%;
    height: 205px;
    .header-wrapper {
      display: none;
    }
  }
  h1, p, strong {
    font-size: 14px;
  }
}

#global-header-bar {
  display: none;
}

.button {
  background-color: #49d5f0;
  color: #000;
}

.button:hover, .button:focus, .button:visited {
  background-color: #000;
}

#global-cookie-message {
  background-color: #fff;
  display: none !important;
}

.govuk-check-your-answers > * > * {
  border-bottom: none;
}