{% extends "layout.html" %}

{% block page_title %}
  Check your answers
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-large">
        Update your contact details
      </h1>


      <!-- only add a heading for a list if there is more than one list -->
      <h2 class="heading-medium">
        Personal details
      </h2>

      <!-- use additional modifier class to change column widths for multiple groups of questions and answers: -->
      <!--   * `cya-questions-short` for short questions -->
      <!--   * `cya-questions-long` for long questions -->
      <!--   * none for single group of q&a -->
      <div class="form-group">
        <dl class="govuk-check-your-answers cya-questions-short">
          <div>
            <dt class="cya-question">
              Contact details
            </dt>
            <dd class="cya-answer">
              07700 900457<br />
              sarah.smith@tablejewelry.com
            </dd>
            <dd class="cya-change">
              <a href="update_my_details">
                Change<span class="visually-hidden"> contact details</span>
              </a>
            </dd>
          </div>
        </dl>
      </div>

      <div class="form-group">
        <a href="travel_updates" class="button">Continue</a>
      </div>

    </div>
  </div>
</main>

{% endblock %}
