{% extends "layout.html" %}

{% block page_title %}
  Confirmation email
{% endblock %}

{% block content %}
<main id="content" role="main">

  <form action="/travel_opt_in" method="post" class="form">

    <h1 class="form-title heading-large">
      Dear Mrs Smith
    </h1>
    <p>
      We’re writing to confirm your child’s application for a place at the following school and eligibility for free school transport.
    </p>
    <h1 class="heading-medium">
      School Placement
    </h1>
    <p>
      <strong>Prefered School:</strong>
      Wareham Purbeck School
      <br />
      <strong>Confirmed Criteria:</strong>
      …
      <br />
      <strong>Distance:</strong>
      15 miles
      <br />
      <strong>Outcome:</strong>
      …
    </p>
    <h1 class="heading-medium">
      What do I need to do now?
    </h1>
    <p>
      If you’re happy with the school place offered and your address above is correct, you do not need to do anything. Your child’s place with be automatically accepted. All future communications will come directly from the school.
    </p>
    <p>
      If you have changed address since submitting your application, please email <a href="mailTo:admin@this.com">admissions@dorsetcc.gov.uk</a> with your child’s name, date of birth and new address. This will ensure that the school holds correct contact details for you and allows us to make sure your child is still eligible for free school transport.
    </p>
    <h1 class="heading-medium">
      Free school transport
    </h1>
    <p>
      We offer free school transport with our partner <a href="https://www.valecoachestoursandprivatehire.co.uk/">Vale Coaches</a>. Your child will receive this until they leave this school. After that a fresh application should be made for any additional support. 
    </p>
    <p>
      Transport has been agreed based on the details you provided on your application. If your circumstances change, please let me know as soon as possible, as we’ll need to review if any transport support can be provided. 
    </p>
    <h1 class="heading-medium">
      Taking up this service
    </h1>
    <p>
      If you would like to take up this service for your child, click the box below to opt-in by 30 June 2018.
    </p>
    <p>
      Please note that if you do not need this service or have other travel arrangement, you do not need to do anything and this place will be offered to others who need it.
    </p>
    <div class="form-group">
      <input type="submit" class="button" value="Yes, I’d like to opt-in for free school transport">
    </div>
    <p>
      May I wish your child every success for the future.
    </p>
    <p>
      Yours sincerely
    </p>
    <strong>Ed Denham</strong><br />
    <strong>Sufficiency School Places Manager</strong><br />
    <strong>Dorset County Council</strong>
  </form>

</main>
{% endblock %}
