{% extends "layout.html" %}

{% block page_title %}
  Confirmation email
{% endblock %}

{% block content %}
<main id="content" role="main">

  <form action="/travel_opt_in" method="post" class="form">

    <h1 class="form-title heading-large">
      Confirmation email title
    </h1>
    <p>
      Confirmation text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
      quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
      consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
      cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
      proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </p>

    <div class="form-group">
      <input type="submit" class="button" value="If you would like to opt in">
    </div>

  </form>

</main>
{% endblock %}
