{% extends "layout.html" %}

{% block page_title %}
  Travel Opt In
{% endblock %}

{% block content %}
<main id="content" role="main">

  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-large">
        Free school transport
      </h1>

      <form action="/check_my_details" method="post" class="form">
        <div class="form-group">
          <fieldset>

            <legend>
              <h1 class="heading-medium">
                Click the box below if you would like to take up this service for your child. Opt-in by 30 June 2018.
              </h1>
            </legend>

            <div class="multiple-choice">
              <input id="nationalities-british" name="nationalities" type="checkbox" value="British">
              <label for="nationalities-british">Yes, I’d like to opt-in for free school transport</label>
            </div>

          </fieldset>
        </div>
        <div class="form-group">
          <input type="submit" class="button" value="Continue">
        </div>
      </form>

    </div>
  </div>
</main>
{% endblock %}
