{% extends "layout.html" %}

{% block page_title %}
  Travel updates
{% endblock %}

{% block content %}
<main id="content" role="main">

  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-large">
        Get immediate travel updates
      </h1>

      <form action="/thank_you" method="post" class="form">
        <div class="form-group">
          <fieldset>

            <legend>
              <h1 class="heading-medium">
                Click the box below if you would like travel updates sent straight to your phone
              </h1>
            </legend>

            <div class="multiple-choice">
              <input id="nationalities-british" name="nationalities" type="checkbox" value="British">
              <label for="nationalities-british">Yes, I would like travel updates sent to my phone</label>
            </div>

          </fieldset>
        </div>
          <div class="form-group">
            <input type="submit" class="button" value="Continue">
          </div>
      </form>

    </div>
  </div>
</main>
{% endblock %}
